@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, rgb(40,43,54) 0%, rgb(40,43,54) 50%, rgba(40,43,54,0.8) 100%);
  /* Vertical center */
  display: table-cell;
  vertical-align: middle;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: slategrey;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}